<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Document</title>
</head>

<body ng-controller="MainController">
        <!-- HEADER -->
        <header class="header">
            <a href="/index.html" class="logo">PortFolio</a>


            <i class='bx bx-menu' id="menu-icon"></i>

            <nav class="navbar">
                <a href="#home" class="active">Home</a>
                <a href="#about">About</a>
                <a href="#services">Services</a>
                <a href="#contact">Contact</a>
            </nav>
        </header>
        <!-- HEADER -->

        <!-- HOME -->

        <section class="home" id="home">
            <div class="home-content" style="width: 50%;">
                <h3>Hello, it is me</h3>
                <h1>Leonel Zuluaga</h1>
                <h3>And i am a <span class="multiple-text"></span></h3>
                <p></p>
                <div class="social-media">
                    <a href="https://www.facebook.com/leonelmatias.zuluagacaru" target="_blank"
                        rel="noopener noreferrer"><i class='bx bxl-facebook'></i></a>
                    <a href="https://www.instagram.com/leoozuluaga/" target="_blank" rel="noopener noreferrer"><i
                            class='bx bxl-instagram'></i></a>
                    <a href="https://www.linkedin.com/in/leonel-matias-zuluaga-car%C3%BA-0b146a217/?locale=en_US"
                        target="_blank" rel="noopener noreferrer"><i class='bx bxl-linkedin'></i></a>
                </div>
                <a href="https://drive.google.com/uc?export=download&id=11G1K0sJ0NBAKOOLgYH2ynpDWldaBt0mo"
                    class="btn">Download CV</a>
            </div>
            <div class="home-img">
                <img src="/img/Job Search for Front End Developer.jpg" style="border-radius: 20px;" alt="">
            </div>
        </section>

        <!-- HOME -->


        <!-- ABOUT -->
        <section class="about" id="about">
            <div class="about-img">
                <img src="/img/4372937.jpg" style="border-radius: 20px;" alt="">
            </div>

            <div class="about-content">
                <h2 class="heading">About <span>Me</span></h2>
                <h3>Frontend Developer</h3>
                <p>A Junior Web Developer and IT student , specializing in HTML5, JavaScript, Angular, PHP, MySQL, Database
                    Design
                    and UI Development. </p>
            </div>
        </section>


        <!-- ABOUT -->

        <!-- SERVICES -->


        <section class="services" id="services">
            <h2 class="heading">Our <span>Services</span></h2>

            <div class="services-container">
                <div class="services-box">
                    <i class='bx bx-code-alt'></i>
                    <h3>Web Development</h3>
                    <p> With more people than ever relying on the internet for information, entertainment, and commerce,
                        having a well-designed and functional website is crucial for businesses and individuals alike.
                    </p>
                    <a href="/webd.html" class="btn">Read More</a>
                </div>

                <div class="services-box">
                    <i class='bx bxs-cart-add'></i>
                    <h3>Products</h3>
                    <p>We offer a wide variety of computer products that adapt to the needs of the client, accompanied
                        by
                        prior advice for what you need.</p>
                    <a href="/webp.html" class="btn">Read More</a>
                </div>

                <div class="services-box">
                    <i class='bx bx-support'></i>
                    <h3>technical Support</h3>
                    <p>We provide our clients with comprehensive assistance and guidance for any technical issues they
                        may
                        encounter.</p>
                    <a href="/webt.html" class="btn">Read More</a>
                </div>


            </div>
        </section>


        <!-- PORTFOLIO -->

        <section class="portfolio" id="portfolio">
            <h2 class="heading">Lastest <span>Projects</span></h2>

            <div class="portfolio-container">
                <div class="portfolio-box">
                    <img src="/img/SISTEMASLAN.png" alt="">

                    <div class="portfolio-layer">
                        <h4>Web Design</h4>
                        <p>Website project for a small company.
                        </p>
                        <a href="https://www.sistemaslancenter.com.ar/" id=""><i class='bx bx-link-external'></i>></a>
                    </div>
                </div>

                <div class="portfolio-box">
                    <img src="/img/simon.jpg" alt="">

                    <div class="portfolio-layer">
                        <h4>Simon Says</h4>
                        <p>Simon Says Mini Game
                        </p>
                        <a href="https://leozuluaga.github.io/simonSays/" id=""><i class='bx bx-link-external'></i></a>
                    </div>
                </div>

                <div class="portfolio-box">
                    <img src="/img/6.png" alt="">

                    <div class="portfolio-layer">
                        <h4>Web Design</h4>
                        <p>Work in progress.
                        </p>
                        <a href="#" id=""><i class='bx bx-link-external'></i></a>
                    </div>
                </div>

                <div class="portfolio-box">
                    <img src="/img/6.png" alt="">

                    <div class="portfolio-layer">
                        <h4>Web Design</h4>
                        <p>Work in progress.
                        </p>
                        <a href="#" id=""><i class='bx bx-link-external'></i></a>
                    </div>
                </div>

                <div class="portfolio-box">
                    <img src="/img/6.png" alt="">

                    <div class="portfolio-layer">
                        <h4>Web Design</h4>
                        <p>Work in progress.
                        </p>
                        <a href="#" id=""><i class='bx bx-link-external'></i></a>
                    </div>
                </div>

                <div class="portfolio-box">
                    <img src="/img/6.png" alt="">

                    <div class="portfolio-layer">
                        <h4>Web Design</h4>
                        <p>Work in progress.
                        </p>
                        <a href="#" id=""><i class='bx bx-link-external'></i></a>
                    </div>
                </div>
            </div>
        </section>


        <!-- SECTION CONTACTO -->

        <section class="contact" id="contact">
            <h2 class="heading">Contact <span>Me</span></h2>

            <form id="form" name="form" novalidate>
                <div class="input-box">
                    <div class="input-section">
                        <span class="red" ng-if="form.nombre.$error.required && form.$submitted">Este campo es requerido</span>
                        <input type="text" name="nombre" ng-required="true" ng-model="formData.nombre" style="width: 100%;" type="text" id="nombre" placeholder="Full Name">
                    </div>
                   
                    <div class="input-section">
                        <span class="red" ng-if="form.email.$error.email && form.$submitted">Ingrese un Mail valido</span>
                        <span class="red" ng-if="form.email.$error.required && form.$submitted">Este campo es requerido</span>
                        <input type="email" required type="email"  ng-model="formData.email" style="width: 100%;" name="email" id="email" placeholder="Email">
                    </div>
                </div>
                <div class="input-section" style="width: 100% !important;">
                    <span class="red" style="top: 0px !important;" ng-if="form.mensaje.$error.required && form.$submitted">Este campo es requerido</span>
                <textarea name="mensaje" id="mensaje" required ng-model="formData.mensaje" cols="30" rows="10" style="margin-top: 25px;" placeholder="Message"></textarea>
                </div>
                
                <button type="submit" ng-click="enviarForm(form)" type="text" class="btn">Send Message</button>
            </form>
        </section>


        <footer class="footer">
            <div class="footer-text">
                <p>Copyright &copy; 2023 By LeoZuluaga / All Rights Reserved.</p>
            </div>

            <div class="footer-iconTop">
                <a href="#home"><i class='bx bx-up-arrow-alt'></i></a>
            </div>
        </footer>

    </div>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://unpkg.com/typed.js@2.0.14/dist/typed.umd.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="/app.js"></script>

</body>

</html>